.userContainer{
    border-radius:5px;
    border : 1px solid lightgray;
    padding: 20px;
}
.loginOrRegisterText{
    cursor: pointer;
}
.logo-img{
    width:6%;
    height: 4%;
    padding-top: 1%;
}
.social-icon{
    border: 1px solid lightgray;
    border-radius:30px;
    background-color: white;
    margin-top: 1%;
    width: 50%;
    margin-left: 25%;
}

.social-text{
    padding-top: 0.5%;
    display: inline;
    color:grey;
}